# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml

/documents/tascks.md
/documents/myNotate.md
none
/config/db_config-local.php